<!-- Extend the base.html template -->
{% extends 'base.html' %}

<!-- Define the content block -->
{% block content %}
    <!-- Display a heading -->
    <h1>Sign Up</h1>
    <!-- Define a form -->
    <form>
        <!-- Define a label and input field for the username -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <!-- Define a label and input field for the email -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <!-- Define a label and input field for the password -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <!-- Define a submit button -->
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}
